/*********************************************************************
element selectors
*********************************************************************/
article {
  display: inline-block;
}


/*********************************************************************
class-selectors
*********************************************************************/

.main {
  margin: 0 10%;
}

.tlsection {
  display: inline-block;
}

.tltime {
  z-index: 1;
  display: inline-block;
  float: left;
  padding: 0 0 0 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.tltimedate {
  display: block;
  text-align: right;
  color: rgb(200, 200, 200);

}

.tltimetime {
  display: block;
  text-align: right;
  font-size: 2.5em;

  color: #46a4da;
  line-height: .7em;
}

.tlicon i {
  z-index: 0;
  display: inline-block;
  position: absolute;
  color: white;
  background-color: #46a4da;
  border-radius: 100%;
  padding: 1% 1.5% 1% 1.5%;
  margin: 0 3.5% 5% .75%;
  border-style:  solid;
  border-color: #afdcf8;
  border-width: 15px;
  font-size: 2em;
}

.content-container {
  margin: 0 0 0 4.05%;
  padding: 0 0 2% 0;
  width: 65%;
  display: inline-block;
  border-left-style: solid;
  border-width: 15px;
  border-color: #afdcf8;
}
.arrow-container {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  margin-left: -12px;
}
.left-arrow {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;

  vertical-align: top;
  margin-top: 10px
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  margin-top: 10px;
  margin-right: 500px;
}


.tlcontent {
  z-index: 1;
  margin: 0 0 0 7%;
  padding: 0 1% 0 2%;
  background-color: #46a4da;
  border-radius: 1em;
}

.tlcontenttext {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.tlcontenttext h2 {
  border-bottom-style: solid;
  border-width: 1px;
}

/*********************************************************************

*********************************************************************/
